<header>
	<a href="/"><img src="/img/logo.png" alt=""></a>
  <nav>
   <ul>
	 <li><a href="/">Головна</a></li>
	 <li><a href="/about">Про проект</a></li>
	  </ul>

	  <ul>
		<% if (user) { %>
			<li><a href="/user/profile/<%= user.id %>">Мій профіль</a></li>
			<% if (user.role === 'admin') { %>
				<li><a href="/admin">Адмін панель</a></li>
			<% } %>
		<% }else{ %>
			<li><a href="/auth/register">Реєстрація</a></li>
			<li><a href="/auth/login">Увійти</a></li>
		<% } %>
	 
    </ul>
  </nav>
</header>
