<%- include ("./partials/head") %>
<body>

  <main class="container about">
    <%- include ("./partials/header") %>
	<div class="wrapper about">
		<h1>Про проект</h1>
		
		<div class="about-img">
			<img src="/img/art.png" alt="anime club banner">
		</div>
		
		<p class="center">Цей проект створений  для популіризації аніме та знайомства користувачів з новими фільмами.</p>
		<p class="center">Також для керування списком переглянутих аніме.</p>
		<p class="center">А також як база-список назв та опису всіх фільмів аніме.</p>
	</div>
  </main>
  <%- include ("./partials/footer.ejs") %>
  
</body>
</html>
