<%- include ("./partials/head") %>
<body>
 <main class="container">
 <%- include ("./partials/header") %>
  <div class="wrapper">
  <h1>Ласкаво просимо на наш сайт!</h1>
  </div>
 </main>
 <h1>Ласкаво просимо!</h1>
 <p>Це головна сторінка вашого проекту.</p>
  </div>
 </main>
 <%- include ("./partials/footer.ejs") %>
</body>
</html>